sentence-transformers
langchain
flask
pypdf
python-dotenv
pinecone[grpc]
langchain-pinecone
langchain-community
langchain-experimental
langchain-text-splitters
langchain-huggingface
langchain-groq
groq
-e .